body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right top, #ff03eb, #ff0089, #ff6e29, #feb900, #a8eb12);
}

.calculadora-grilla {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 110vh;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculadora-grilla > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(251, 4, 169, 0.978);
}

.output {
    grid-column: 1 / -1;
    background-color: #a8eb12;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all; 
}

.output .display {
    color: black;
    font-size: 1.6rem;
    text-align: right;
}

.calculadora-grilla > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

@media (orientation:landscape){
 body{
 background:pink);
 }
 }
 @media (orientation:portrait){
 body{
 background: 255, 255, 255, .75;
 }
 }